{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href="{% static 'bootstrap\css\bootstrap.css' %}">
    <link rel='stylesheet' href="{% static 'css\navbarUmum.css' %}">
    <!-- <link rel='stylesheet' href="{% static 'css\Home.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>PPW KC06</title>
    {% include 'pages/navbar.html' %}
        </head>
        <body class="body">
                <section>
                        <div class="container">
                          <div class="garis"></div>
                          <div class="tulisan-faq justify-content-center">
                            <h1 style="font-family: 'Fjalla One', sans-serif; margin-bottom:3%;">FAQ</h1>
                          </div>
                          <div class="garis"></div>
                          <div class="wrapper">
                            <div class="accordion">
                              <div class="accordion_tab">
                                Apakah membuat event berbiaya?
                                <div class="accordion_arrow" style="margin-top:-15px;">
                                <i class="fas fa-angle-down"></i>
                                </div>
                              </div>
                              <div class="accordion_content">
                                <div class="accordion_item">
                                  
                                  <p>Tidak, membuat event disini tidak dipungut biaya.
                                  </p>
                                  
                                </div>
                              </div>
                            </div>
                            <div class="accordion">
                              <div class="accordion_tab">
                                    Mengapa saya tidak bisa membuat event?
                                <div class="accordion_arrow">
                                  <i class="fas fa-angle-down"></i>
                                </div>
                              </div>
                              <div class="accordion_content" style="height:600px;">
                                <div class="accordion_item">
                                  
                                  <p>Untuk bisa membuat event, anda harus membuat akun terlebih dahulu dan merupakan alumni/mahasiswa Fasilkom UI.
                                  </p>
                                
                                  
                                </div>
                              </div>
                            </div>
                            <div class="accordion">
                              <div class="accordion_tab">
                                    Apakah saya bisa mendaftar event ini melalui CSPosts?
                                <div class="accordion_arrow">
                                  <i class="fas fa-angle-down"></i>
                                </div>
                              </div>
                              <div class="accordion_content">
                                <div class="accordion_item">
                                  <p>Tidak, anda hanya bisa melihat informasi event disini. Untuk pendaftaran, silakan hubungi penyelenggara event.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
    
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="{% static 'js\ajaxsearch.js' %}" ></script>
</body>
</html>