{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href="{% static 'bootstrap\css\bootstrap.css' %}">
    <link rel='stylesheet' href="{% static 'css\Home.css' %}">
    <link rel='stylesheet' href="{% static 'css\navbarUmum.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'pages/navbar.html' %}
    
    {% if user.is_authenticated %}
    <div class="container" style="display : flex;">
        <form action="{% url 'postevent' %}" method="post" class="form-inline" style="margin: auto; margin-top:20px; padding: 20px; flex-direction: column;">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <button type="submit" >Submit</button>
        </form>
    </div>
    {% else %}
    <h1>Tolong Log in/Masuk Terlebih dahulu</h1>
    {% endif %}
    
    
    <script src="{% static 'js/main.js' %}"></script>
</body>
    