:root {
  --background-color: rgba(250, 244, 244, 0.959);
  --text-color : rgba(8, 6, 6, 0.836);
  --dark-background-color: rgba(8, 6, 6, 0.836);
  --lg-text-color : rgba(250, 244, 244, 0.959);
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
}
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #f89c23;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.lime-border {
    border: 1px solid #f89c23;
}
.input-group{
    width: 40%;
    margin-left: 30%;
    margin-right: 20%; 
    margin-bottom: 5%;
}
.find-text{ 
    margin-top: 10%;
    font-size: 250%; /*32px*/
    text-align: center;
}
.input-group-text .lime .lighten-2{
    color: #f89c23;
}
.col-lg-3 .col-md-4 .col-6{
    height: 25%;
}
@media (min-width: 992px){
    .col-lg-3 {
        height: 25%;
    }
}
.navbar{
    background-color: transparent;
    color: var(--text-color);
}
.nav-link{
  color: var(--text-color)!important;
}
.navbar-brand{
   color: var(--text-color)!important;
}
.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
  background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
  background-color:#fff;
    background-size: cover;
  background-repeat:no-repeat;
    display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-primary
{
  display:block;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
}
.imgUp
{
  margin-bottom:15px;
}
.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}
.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#4bd7ef;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:0px;
  cursor:pointer;
  font-size:15px;
}
.validasi{
    margin-left: 100px;
}
.h-100{
  height: 20% !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-background-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;  
  bottom: 4px;
  background-color: var(--background-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--dark-background-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--background-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}