:root {
    --background-color: rgba(250, 244, 244, 0.959);
    --text-color : rgba(8, 6, 6, 0.836);
    --dark-background-color: rgba(8, 6, 6, 0.836);
    --lg-text-color : rgba(250, 244, 244, 0.959);
  }

.body{
    /* background-color: var(--background-color); */
    color: rgba(8, 6, 6, 0.836);
}
.navbar{
    background-color: rgb(17, 52, 82);
}
.navbar-light .navbar-nav .nav-link{
    color: white!important;
}
.navbar-light .navbar-brand{
    color: white!important;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color: white!important;
}
.nav-link:hover{
	color: red!important;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-background-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;  
    bottom: 4px;
    background-color: var(--background-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--dark-background-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--background-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .garis{
    height: 5px;
    width: 50%;
    background-color: var(--dark-background-color);
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    transition: 0.9s;
  }
  .tulisan-faq{
    text-align: center;
  }
  /*----- Accordion -----*/
  .accordion,
  .accordion * {
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
    box-sizing:border-box;
  }
  
  .accordion{
    width: 700px;
    height: 60px;
    margin: 0 auto;
    background: var(--dark-background-color);
    border-radius: 3px;
    box-shadow: 0 1.5px 2px var(--dark-background-color);
    overflow: hidden;
    transition: height 0.3s ease;
    margin-bottom: 20px;
    background-color: var(--background-color);
  }
  
  .accordion .accordion_tab{
  padding: 20px;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  margin-top: -5px;
  }
  
  .accordion .accordion_tab .accordion_arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
  right: 20px;
  width: 15px;
  height: 15px;
  transition: all 0.4s ease;
  margin-top: -8px;
  }
  
  .accordion_arrow i{
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  }
  
  .active .accordion_arrow i{
  transform: translateY(-10%) rotate(180deg);
  transition: all 0.4s ease;
  }
  
  .accordion.active{
  height: 450px;
  }
  
  .accordion .accordion_content{
  padding: 20px;
  border-top: 1px solid var(--text-color);
  display: none;
  }
  
  .accordion .accordion_content .accordion_item{
  margin-bottom: 20px;
  }
  
  .accordion .accordion_content .accordion_item p.item_title{
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--text-color);
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-background-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;  
    bottom: 4px;
    background-color: var(--background-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--dark-background-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--background-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }